body {
    font-family: Arial, sans-serif;
    background: #f7df1e;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #000;
    font-size: 3rem;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}